extends layout

block content
  h1= title

  p Interesting because we also get a lot of pointers to Contacts here.  This isn't just metadata.

  ul
    each val, index in myMobilePush
      if val instanceof Array
        ul
          each val2, index2 in val
            li#item-= index2 + ': ' + val2
              if val2 instanceof Object
                ul
                  each val3, index3 in val2
                    li#item-= index3 + ': ' + val3
                      if val3 instanceof Array
                        ul
                          each val4, index4 in val3
                            li#item-= index4 + ': ' + val4
                              if val4 instanceof Object
                                ul
                                  each val5, index5 in val4
                                    li#item-= index5 + ': ' + val5
      else
        li#item-= index + ': ' + val
