extends layout

block content
  h1= title
  ul
    each val in myMessages
      li= val.name + ' ' 
        a(class="btn btn-default",href="/messages/delete/#{val.id}") Delete
        a(class="btn btn-default",href="/messages/send/#{val.id}") Send
          if val.sendInitiator == 1
            a(class="btn btn-default",href="/messages/customize/#{val.id}") Customize & Send